@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.form-field {
  &__container {
    display: flex;
    flex-direction: column;

    @include tablet {
      width: 100%;
    }
  }

  // add space between only if form with two or more fields (ie. video upload page, not comments page)
  &__container--description,
  &__container--title {
    @include spacing-between-components(topbottom);
  }

  &__alert {
    color: $color-error;
  }
}

.form-field--comment {
  // override default height of 3 lines to be single line in comment component
  @include tablet {
    height: $form-field-height-tablet;
  }
}

/* field outline and animation.
Note: Increase specificity of .form-field--error 
so it overrides pseudo-classes at input/textarea in index.sass
*/
input.form-field--error,
textarea.form-field--error {
  @include field-error;
}
