@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.form-field {
  &__container {
    display: flex;
    flex-direction: column;
    @include spacing-between-components(topbottom);

    @include tablet {
      width: 100%;
    }
  }

  &__label-field-container--comment {
    display: flex;
    flex-direction: column;
    @include mobile {
      @include spacing-between-components;
    }

    text-transform: uppercase;
    color: $color-primary-silver;
    font-weight: $semi-bold;
    @include tablet {
      width: 100%;
      margin-right: $padding-between-components-tablet;
      padding-bottom: 0.3125rem;
    }
  }
}

// set large height for video description textarea field in video upload page
.form-field--description {
  height: calc($form-field-height * 3);
}

// set single line height through for comment field in video page
.form-field--comment {
  @include tablet {
    height: $form-field-height-tablet;
  }
}
