@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
  &__field-container {
    /* use entire width */
    flex: 1;
  }

  &__field-container--comment {
    display: flex;
    flex-direction: column;
    @include mobile {
      @include spacing-between-components;
    }
    @include tablet {
      width: 100%;
      margin-right: $padding-between-components-tablet;
      padding-bottom: 0.3125rem;
    }
  }

  &__cta-btn-nav {
    @include tablet {
      display: flex;
      justify-content: flex-end;
      gap: $padding-between-components-tablet;
    }
  }

  // add space between only if form with two or more buttons (ie. video upload page, not comments page)
  &__cta-btn-container--cancel,
  &__cta-btn-container--publish {
    @include spacing-between-components(topbottom);
  }

  //reorder publish button to appear after cancel on tablet
  &__cta-btn-container:nth-of-type(1) {
    @include tablet {
      order: 1;
    }
  }
}

.form--comment {
  /* use entire width */
  flex: 1;
  @include tablet {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.form--query {
  order: 2;
  flex: 1; // use all available space
  @include tablet {
    flex: 0 40%;
  }
}
