@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
  /* use entire width */
  flex: 1;

  &__label-field-container {
    display: flex;
    flex-direction: column;
    @include spacing-between-components(topbottom);

    @include tablet {
      width: 100%;
    }
  }

  &__label-field-container--comment {
    @include desktop {
      margin-right: $padding-between-components-tablet;
    }
  }

  &__textarea--comment {
  }
}

.form--comment {
  @include tablet {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }
}
