@use "./variables" as *;

/* -------------------------------------------------------------------------- */
/*                                Media queries                               */
/* -------------------------------------------------------------------------- */

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $tablet-breakpoint) {
    @content;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Padding                                  */
/* -------------------------------------------------------------------------- */

//use to insert padding for entire app
@mixin spacing-app {
  @include spacing(padding, sides, $padding-sm);

  @include tablet {
    @include spacing(padding, sides, $padding-xl);
  }
  @include desktop {
    @include spacing(padding, sides, $padding-5xl);
  }
}

//use to insert spacing between components
@mixin spacing-between-components($direction: bottom) {
  @include spacing(padding, $direction, $padding-between-components);

  @include tablet {
    @include spacing(padding, $direction, $padding-between-components-tablet);
  }
}

/* Utility to to add margin or padding, on which side, and how big
Expanded mixin created by https://codepen.io/ezos86/pen/QwQmZb */

@mixin spacing($type: margin, $direction: all, $amount: $padding-md) {
  @if $type == padding {
    @if $direction == all {
      padding: $amount;
    } @else if $direction == top {
      padding-top: $amount;
    } @else if $direction == topbottom {
      padding-top: $amount;
      padding-bottom: $amount;
    } @else if $direction == sides {
      padding-left: $amount;
      padding-right: $amount;
    } @else if $direction == left {
      padding-left: $amount;
    } @else if $direction == right {
      padding-right: $amount;
    } @else {
      padding-bottom: $amount;
    }
  } @else {
    @if $direction == all {
      margin: $amount;
    } @else if $direction == top {
      margin-top: $amount;
    } @else if $direction == topbottom {
      margin-top: $amount;
      margin-bottom: $amount;
    } @else if $direction == sides {
      margin-left: $amount;
      margin-right: $amount;
    } @else if $direction == left {
      margin-left: $amount;
    } @else if $direction == right {
      margin-right: $amount;
    } @else {
      margin-bottom: $amount;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Divider                                  */
/* -------------------------------------------------------------------------- */

@mixin line-divider($direction: "") {
  border-bottom: $divider-style;
  border-top: 0;
  @if $direction == topbottom {
    border-top: $divider-style;
  }
}

/* -------------------------------------------------------------------------- */
/*                              Forms and tables                              */
/* -------------------------------------------------------------------------- */

//use to insert padding in form fields, per style guide
@mixin spacing-inside-fields {
  @include spacing(padding, all, $padding-sm);

  @include tablet {
    @include spacing(padding, all, $padding-xs);
  }
}
