@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.upload-thumb {
  &__container {
    @include tablet {
      @include line-divider;
      @include spacing-between-components(topbottom);
    }
    @include desktop {
      display: flex;
      gap: $padding-between-components-tablet;
    }
  }

  &__subtitle {
    padding-bottom: 0;
  }
  &__img {
    width: 100%;
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 27.5rem;
    }
  }
}
