@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-page {
  &__post-video-container {
    @include spacing-app; //add left and right spacing
    @include desktop {
      display: flex;
    }
  }
  &__video-comments-container {
    @include desktop {
      flex: 0 0 70%; // leave only about 1/3 for next videos sidebar
    }
  }
  &__next-videos-container {
    @include desktop {
      @include line-divider(left);
      padding-left: $padding-between-components-tablet;
    }
  }

  // styling the like icon used in video details and comment components
  &__likes-img {
    height: 1.5625rem;
  }
  &__likes-img:active,
  &__likes-img:hover {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
  }
}
