@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.next-videos {
  &__header {
    color: $color-primary-silver;
    font-weight: $semi-bold;
    @include tablet {
      padding-bottom: $padding-between-components-tablet;
    }
  }
  &__video-list {
    display: flex;
    flex-direction: column;
    gap: $padding-between-components;
    @include tablet {
      width: 45%;
    }
    @include desktop {
      width: 100%;
    }
  }
  &__video-list-item {
    display: flex;
    gap: $padding-between-components;
  }
  &__video-link {
    width: 40%;
  }
  &__video-thumbnail {
    width: 100%;
    @include tablet {
    }
  }
  &__video-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__video-title {
    font-weight: $section-header-font-weight;
    font-size: $section-header-font-size;
    line-height: $section-header-line-height;
  }
}
