@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.site-header {
  @include spacing-app; //add left and right spacing

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include tablet {
    flex-direction: row;
    align-items: center;
  }

  //add spacing
  @include spacing-between-components(topbottom);

  &__nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    // wrap on mobile to enable search and avatar to be on same row
    @include mobile {
      flex-wrap: wrap;
    }
    align-items: center;
    justify-content: flex-end;
  }
  &__logo-container {
    margin: auto;
    @include tablet {
      margin: initial;
    }
  }
  &__logo {
    width: $logo-max-width;
    background-color: $logo-background;

    @include mobile {
      margin-bottom: $padding-between-components;
    }
  }

  &__avatar-container {
    order: 3;
    padding-left: $padding-between-components;
    height: 100%;
    @include tablet {
      order: 4; // show flex item order differently on tablet per mockup
      padding-left: $padding-between-components-tablet;
    }
    @include desktop {
      padding-left: $padding-lg; // to match mockup
    }
  }
  &__upload-container {
    height: 100%;
    @include mobile {
      flex-basis: 100%; // upload button on its own row on mobile
      padding-top: $padding-between-components;
    }
    order: 4;
    @include tablet {
      order: 3; // show flex item order differently on tablet
      padding-left: $padding-between-components;
    }
  }
}

//show line divider but only if header is on upload page
.site-header--upload {
  @include line-divider;
}
