@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

/* used for CTA throughout site */
.cta {
  text-transform: uppercase;
  font-weight: $label-btn-font-weight;
  line-height: $label-btn-line-height;
  font-size: $label-btn-font-size;
  width: $cta-width-mobile;
  height: $cta-height;
  color: $cta-icon-txt-color;
  background-color: $cta-default-background-color;
  padding: $cta-min-padding;
  border: 0;
  border-radius: $button-border-radius;

  background-repeat: no-repeat;
  background-position: $padding-xs center;
  padding: $padding-xs;

  @include tablet {
    font-size: $label-btn-font-size-tablet;
    width: 12.5rem;
    min-width: $cta-min-width-tablet;
    height: 100%;
  }
  &:hover {
    background-color: $cta-hover-background-color;
    color: $cta-icon-txt-color;
  }

  &--upload {
    background-image: url(../assets/icons/upload.svg);
  }
  &--comment {
    background-image: url(../assets/icons/add_comment.svg);
  }
  &--publish {
    background-image: url(../assets/icons/publish.svg);
  }
  &--cancel {
    background-color: $color-secondary-alabaster;
    color: $color-primary-blue;
  }
}
