@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-player {
  background-color: $video-player-background;
  width: 100%;
  aspect-ratio: $video-player-aspect-ratio;

  @include tablet {
    height: 50vw;
  }
  @include desktop {
    height: 40vw;
  }
}
