@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comments {
  &__new-comment-container {
    display: flex;
    @include spacing-between-components;
    @include tablet {
      align-items: flex-end;
    }
    @include desktop {
      padding-right: $padding-between-components-tablet;
    }
  }
  &__new-comment-container div div:first-child {
    @include mobile {
      margin-top: 1.4375rem;
    }
  }

  &__title {
    @include tablet {
      padding-bottom: $padding-after-headlines;
    }
  }

  &__form {
    /* use entire width */
    flex: 1;

    @include tablet {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  &__new-comment-txt_container {
    display: flex;
    flex-direction: column;
    @include mobile {
      @include spacing-between-components;
    }
    @include tablet {
      width: 100%;
    }
    margin-right: $padding-between-components-tablet;
  }

  &__new-comment-label {
    text-transform: uppercase;
    color: $color-primary-silver;
    font-weight: $semi-bold;
    // font-size: $body-copy-font-size;
    @include tablet {
      padding-bottom: 0.3125rem;
      //   font-size: $body-copy-font-size-tablet;
    }
  }

  &__new-btn-container {
    @include tablet {
      height: 3.125rem;
    }
  }

  &__list-container {
    display: flex;
    flex-direction: column;

    /* add bottom margin to display last divider */
    @include spacing-between-components();
  }
  &__comment-container {
    display: flex;

    /* add padding to top */
    @include spacing-between-components(top);

    /* add divider after each comment */
    @include line-divider;

    /* also add line divider in first comment */
    &:first-child {
      @include line-divider(topbottom);
    }
    @include desktop {
      padding-right: $padding-between-components-tablet;
    }
  }
  &__comment-txt-container {
    display: flex;
    flex-direction: column;

    /* use entire width */
    flex: 1;
    flex-grow: 1;
    flex-basis: 0;
  }
  &__user-name-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__user-name {
    text-wrap: nowrap;
    font-weight: $bold;
  }
  &__date {
    color: $color-primary-silver;
  }
}
