@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comments {
  &__new-comment-container {
    display: flex;
    @include spacing-between-components;
    @include tablet {
      align-items: flex-end;
    }
    @include desktop {
      padding-right: $padding-between-components-tablet;
    }
  }

  &__title {
    text-transform: capitalize;
    color: $color-primary-brainflix-black;
    @include tablet {
      padding-bottom: $padding-after-headlines;
    }
  }

  &__list-container {
    display: flex;
    flex-direction: column;

    /* add bottom margin to display last divider */
    @include spacing-between-components();
  }
}
