@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
button,
label {
  font-family: inherit; // overwrite default browser font
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea {
  background-color: $color-secondary-alabaster;
  border-radius: $form-field-border-radius;
  border-color: transparent;
  outline: $form-field-default-filled-border; // using outline instead of border to not alter height
  @include spacing-inside-fields;
  &:active,
  &:focus {
    outline: $form-field-active-border;
  }

  /*  style placeholder text in fields */
  &::placeholder {
    color: $color-primary-brainflix-black;
    font-size: $body-copy-font-size; // match typing font
    @include tablet {
      font-size: $body-copy-font-size-tablet;
    }
  }
  /*   only show required field error state if empty on submit,
  and not browser load */
  &:user-invalid {
    outline: $form-field-error-border;
  }
}

label,
button {
  font-size: $label-btn-font-size;
  font-weight: $label-btn-font-weight;
  line-height: $label-btn-line-height;

  @include tablet {
    font-size: $label-btn-font-size-tablet;
  }
}

button {
  border-radius: $button-border-radius;
}

label {
  padding-bottom: $form-space-between-label-and-field;
}

textarea {
  height: calc($form-field-height * 3);
  @include tablet {
    height: $form-field-height;
    overflow: hidden; //hide scroll bar
  }
}

//use as page header
h1 {
  font-weight: $page-header-font-weight;
  font-size: $page-header-font-size;
  line-height: $page-header-line-height;
  margin-top: $padding-before-headlines;
  margin-bottom: $padding-after-headlines;
  @include tablet {
    font-size: $page-header-tablet-font-size;
    line-height: $page-header-line-height-tablet;
    margin-top: $padding-before-headlines-tablet;
    margin-bottom: $padding-after-headlines-tablet;
  }
}

//use as section header
h2 {
  font-weight: $section-header-font-weight;
  font-size: $section-header-font-size;
  line-height: $section-header-line-height;
  margin-top: $padding-before-headlines;
  margin-bottom: $padding-after-headlines;
  @include tablet {
    margin-top: $padding-before-headlines-tablet;
    margin-bottom: $padding-after-headlines-tablet;
  }
}

//use as sub header
h3 {
  font-weight: $subheader-font-weight;
  font-size: $subheader-font-size;
  line-height: $subheader-line-height;
  @include tablet {
    font-size: $subheader-font-size-tablet;
    line-height: $subheader-line-height-tablet;
  }
}

ul {
  margin: 0;
  padding: 0;
}

img {
  border-radius: $image-border-radius;
  background-color: $image-background-color;
}

.App {
  margin: 0;
  padding: 0;

  /* Set font defaults per style guide */
  font-family: $font;
  font-weight: $body-copy-font-weight;
  font-size: $body-copy-font-size;
  line-height: $body-copy-line-height;
  @include tablet {
    font-size: $body-copy-font-size-tablet;
    line-height: $body-copy-line-height-tablet;
  }

  background-color: $color-primary-white;
  color: $color-primary-brainflix-black;

  &__post-video-container {
    @include spacing-app; //add left and right spacing
    @include desktop {
      display: flex;
    }
  }
  &__video-comments-container {
    @include desktop {
      flex: 0 0 70%; // leave only about 1/3 for next videos sidebar
    }
  }
}
