@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Set font defaults per style guide */
  font-family: $font;
  font-weight: $regular;
  font-size: $body-copy-font-size;
  line-height: $body-copy-line-height;
  @include tablet {
    font-size: $body-copy-font-size-tablet;
    line-height: $body-copy-line-height-tablet;
  }

  background-color: $color-primary-white;
  color: $color-primary-brainflix-black;
}

.App-header {
}

.App-logo {
  height: 10vmin;
}
