@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-details {
  &__metadata-container {
    display: flex;
    align-items: center;
    gap: $padding-between-components;
    @include line-divider(topbottom);
    padding: $padding-between-components 0;

    @include tablet {
      justify-content: space-between;
      @include line-divider(); //only add divider on bottom
      padding: $padding-xs 0;
    }
    @include desktop {
      padding-right: $padding-between-components-tablet;
    }
  }
  &__channel-container,
  &__stats-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: $padding-between-components;
    flex-basis: 50%;
    @include tablet {
      gap: $padding-between-components-tablet;
      flex-direction: row;
      flex-basis: unset;
    }
  }
  &__stats-container {
    padding-left: $padding-xs;
  }
  &__stats-container > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  &__channel {
    text-wrap: nowrap;
    font-weight: $bold;
    font-size: $section-header-font-size;
  }
  &__date,
  &__likes,
  &__views {
    @include tablet {
      font-size: 1.125rem;
    }
  }
  &__date {
    color: $color-primary-silver;
  }

  &__views-img {
    height: 23px;
  }
  &__likes-img {
    height: 25px;
  }
  &__likes,
  &__views {
    padding-left: $padding-xs;
  }

  &__likes {
    color: $icon-txt-likes-color;
  }
  &__views {
    color: $icon-txt-views-color;
  }

  &__description {
    @include spacing-between-components(topbottom);
  }
}
